.feedback 
	padding-top: 55px
	padding-bottom: 65px
	text-align: center
	background-color: $bg-color-light
	&-title 
		margin-bottom: 30px 	
	&-slider
		margin: 0 auto
		&__img
			margin-right: 30px
		.slick-arrow
			background: url('./img/feedback/arrow-nent') 0 0 / 100% no-repeat
			