.feedback 
	padding-top: 55px
	padding-bottom: 65px
	text-align: center
	background-color: $bg-color-light
	&-title 
		margin-bottom: 30px 	
	&-slider
		margin: 0 auto
		&__img
			// margin-right: 30px

		.slick-arrow.slick-prev
			left: -33px
			&::before
				content: url(../img/feedback/arrow-prev.png)
		.slick-arrow.slick-next
			&::before
				content: url(../img/feedback/arrow-next.png)


								
		
					

			