.header
	padding: 20px 0
	background-color: $text-color-light
	&-contacts
		display: flex
		justify-content: flex-end
		align-items: center
		&__phone
			font-size: 22px
			font-weight: 500
			margin-right: 15px
			&:first-child
				border-right: 1px solid #cfcfd0
				padding-right: 13px
		