.offer 
	position: relative
	padding-top: 65px
	padding-bottom: 70px
	color: $text-color-light
	background: grey url(../img/section-form/section-form-bg.jpg) center no-repeat
	background-size: cover
	z-index: 1
	text-align: center
	&-title
		font-size: 32px
		font-weight: 400
		margin-bottom: 32px
		&_small
			display: block
			font-size: 26px
	&-form
		margin: 0 auto
		max-width: 365px
		&__label
			display: block
			margin-bottom: 17px
			font-size: 20px
			font-weight: 300
		&__input
			display: block
			width: 100%
			padding: 20px
			text-align: center
			color: $text-shadow
			font-size: 14px
			font-weight: 300
			border: none
			border-radius: 5px
			margin-bottom: 12px
		&__button
			margin-bottom: 10px
			


		
	
	
	
		

