*{
	margin: 0;
	padding: 0;
}

body {
	font-family: "Proxima Nova", sans-serif;
	background-color: #f9f9f9;
}

a {
	text-decoration: none;
}

.container {
	padding: 100px 0;
	width: 1140px;
	text-align: center;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
	padding-right: -30px;
}

.tools-title {
	margin-bottom: 125px;
	font-size: 36px;
	font-weight: 400;
}

.tools-item {
	margin-right: 30px;
}

.tools-item__image {
	max-width: 263px;
	background-color: #ffffff;
	padding: 0 20px;
	box-sizing: border-box;
	margin-bottom: 25px;
}

.tools-item__image:last-child {
	padding: 0;
}

.tools-item__title {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 25px;
}

.tools-item__price {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
	display: inline-block;
}

.tools-item__link {
	display: inline-block;
	text-transform: uppercase;
	padding: 23px 75px;
	color: #23bac1;
	border: 1px solid #23bac1;
}
